In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [4]:
df = pd.read_csv('Advertising.csv')

In [3]:
X = df.drop(['sales'], axis =1)

y = df['sales']

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state =101)

In [7]:
from sklearn.preprocessing import StandardScaler

In [8]:
scaler = StandardScaler()

In [9]:
scaler.fit(X_train)

StandardScaler()

In [30]:
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [31]:
from sklearn.linear_model import Ridge
from sklearn.model_selection import cross_validate

In [32]:
model= Ridge(alpha = 100)

In [33]:
scores = cross_validate(model, X_train, y_train, scoring = ['neg_mean_squared_error', 'neg_mean_absolute_error'], cv=10)

In [34]:
scores

{'fit_time': array([0.00400448, 0.00299549, 0.0030005 , 0.00299597, 0.00300169,
        0.00300097, 0.00300026, 0.00299811, 0.00300026, 0.00800228]),
 'score_time': array([0.00299931, 0.00300598, 0.00199866, 0.00299907, 0.00199795,
        0.00300384, 0.00300479, 0.00299597, 0.00299907, 0.02498984]),
 'test_neg_mean_squared_error': array([-25.8830941 , -35.8105753 , -19.53916894, -25.52314471,
        -30.3489827 , -31.48286639, -20.29421312, -35.14797663,
        -22.04463281, -20.31268323]),
 'test_neg_mean_absolute_error': array([-4.02333405, -4.92884899, -3.38820751, -4.30691223, -4.34627408,
        -4.51013697, -3.52874567, -5.06649293, -4.21855633, -3.79832232])}

In [37]:
scores = pd.DataFrame(scores)

In [39]:
scores

,fit_time,score_time,test_neg_mean_squared_error,test_neg_mean_absolute_error
0,0.004004,0.002999,-25.883094,-4.023334
1,0.002995,0.003006,-35.810575,-4.928849
2,0.003000,0.001999,-19.539169,-3.388208
3,0.002996,0.002999,-25.523145,-4.306912
4,0.003002,0.001998,-30.348983,-4.346274
5,0.003001,0.003004,-31.482866,-4.510137
6,0.003000,0.003005,-20.294213,-3.528746
7,0.002998,0.002996,-35.147977,-5.066493
8,0.003000,0.002999,-22.044633,-4.218556
9,0.008002,0.024990,-20.312683,-3.798322

In [40]:
scores.mean()

fit_time                         0.003600
score_time                       0.004999
test_neg_mean_squared_error    -26.638734
test_neg_mean_absolute_error    -4.211583
dtype: float64

In [41]:
model = Ridge(alpha =1)

In [42]:
scores = cross_validate(model, X_train, y_train, scoring = ['neg_mean_squared_error', 'neg_mean_absolute_error'], cv=10)

In [43]:
scores

{'fit_time': array([0.00400543, 0.00299907, 0.00200129, 0.00399685, 0.00599694,
        0.00299883, 0.00300002, 0.0030005 , 0.00300694, 0.00199842]),
 'score_time': array([0.00199556, 0.00300074, 0.00299859, 0.00199986, 0.00300169,
        0.00300121, 0.00300169, 0.0029974 , 0.00199676, 0.00400114]),
 'test_neg_mean_squared_error': array([-16.48146849, -26.65461203, -13.91902074, -19.12261817,
        -20.17222341, -28.8686766 , -14.33899588, -26.55484205,
        -23.00389894, -17.45852363]),
 'test_neg_mean_absolute_error': array([-3.15223709, -4.23852856, -2.64448092, -3.83787549, -3.36769491,
        -4.03141324, -2.90253104, -4.30564932, -4.17525438, -3.25132342])}

In [44]:
scores = pd.DataFrame(scores)

In [45]:
scores

,fit_time,score_time,test_neg_mean_squared_error,test_neg_mean_absolute_error
0,0.004005,0.001996,-16.481468,-3.152237
1,0.002999,0.003001,-26.654612,-4.238529
2,0.002001,0.002999,-13.919021,-2.644481
3,0.003997,0.002000,-19.122618,-3.837875
4,0.005997,0.003002,-20.172223,-3.367695
5,0.002999,0.003001,-28.868677,-4.031413
6,0.003000,0.003002,-14.338996,-2.902531
7,0.003000,0.002997,-26.554842,-4.305649
8,0.003007,0.001997,-23.003899,-4.175254
9,0.001998,0.004001,-17.458524,-3.251323

In [46]:
scores.mean()

fit_time                         0.003300
score_time                       0.002799
test_neg_mean_squared_error    -20.657488
test_neg_mean_absolute_error    -3.590699
dtype: float64

In [49]:
model.fit(X_train, y_train)

Ridge(alpha=1)

In [51]:
y_final_pred = model.predict(X_test)

In [53]:
mean_squared_error(y_test, y_final_pred)

TypeError: 'tuple' object is not callable