# List Comprehension in Python

### List comprehension are a unique way of quickly creating a list with python.

In [31]:
mylist = [1,2,3,4,5,6,7,8,9]
mystring = 'Hai'
mystring = []

for letter in mystring:
    mylist.append(letter)
    
letter

NameError: name 'letter' is not defined

In [32]:
mylist = [letter for letter in mystring]
mylist

[]

In [33]:
mylist= [x for x in 'word']
mylist

['w', 'o', 'r', 'd']

In [34]:
mylist = [num for num in range(0,15)]

mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [35]:
mylist = [num**2 for num in range(0,15)]

mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196]

In [36]:
mylist = [x**3 for x in range (0,30) if x%3==0]

mylist

[0, 27, 216, 729, 1728, 3375, 5832, 9261, 13824, 19683]

In [39]:
mylist = [x**5 for x in range (0,30) if x%5==0]

mylist

[0, 3125, 100000, 759375, 3200000, 9765625]

### Converting celcius to farenheat

In [38]:
celcius = [0, 10, 20, 30.5]

farenheat = [(9/5)* temp+32 for temp in celcius]

farenheat

[32.0, 50.0, 68.0, 86.9]

In [25]:
farenheat = []

for temp in celcius:
    farenheat.append((9/5)*temp + 32)
    
farenheat

[32.0, 50.0, 68.0, 86.9]

In [23]:
results = [x if x%2 ==0 else 'ODD' for x in range (0,11)]

results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

### Nested Loop

In [27]:
mylist = []

for x in [2,4,6,8,10]:
    for y in [100, 200, 300, 400, 500]:
        mylist.append(x*y)
    
mylist

[200,
 400,
 600,
 800,
 1000,
 400,
 800,
 1200,
 1600,
 2000,
 600,
 1200,
 1800,
 2400,
 3000,
 800,
 1600,
 2400,
 3200,
 4000,
 1000,
 2000,
 3000,
 4000,
 5000]

In [28]:
mylist =[x *  y for x in [2,4,6] for y in [1,10,100]]

mylist

[2, 20, 200, 4, 40, 400, 6, 60, 600]

# Methods and Functions

### Built in Objects

In [40]:
mylist = [1,2,3]
mylist.append(4)
mylist

[1, 2, 3, 4]

In [43]:
mylist.pop()
mylist

[1, 2, 3]

### Introduction to Functions

#### Functions allow us to create blocks of code that can be easily executed many time, without needing to constantly rewrite the entire block of code.