# String objects and List Objects

In [1]:
 # Youtube lesson Name : GMT20200411 042734 MLD 28th m 1920x1080

In [2]:
# Topics Covered
# String object basics 
# String methods
# Splitting and Joining Strings
# String format functions
# list object basics
# list methods
# List as stack and Queues
# List comprehensions

In [3]:
# Single Word
"God"

'God'

In [4]:
"Go'od"

"Go'od"

In [5]:
""" My
 name
 is 
 Fabian"""

' My\n name\n is \n Fabian'

In [6]:
# Entire Phrase
"God is Great"

'God is Great'

In [7]:
len("Fabian is Smart")

15

In [8]:
# Assign a string as a variable

A = "Fabian Is Nice Gentleman"
A

'Fabian Is Nice Gentleman'

String Indexing

In [9]:
A[-1]

'n'

In [10]:
A[4]

'a'

In [11]:
## Concotenate strings
A + " Concatenate me"

'Fabian Is Nice Gentleman Concatenate me'

In [12]:
s = A + " Concatenate me"
s

'Fabian Is Nice Gentleman Concatenate me'

In [13]:
'fabian'+ 1

TypeError: can only concatenate str (not "int") to str

In [14]:
'fabian '+ str(1)

'fabian 1'

In [15]:
  s * 3

'Fabian Is Nice Gentleman Concatenate meFabian Is Nice Gentleman Concatenate meFabian Is Nice Gentleman Concatenate me'

In [16]:
A

'Fabian Is Nice Gentleman'

In [17]:
# Upper case string
A.upper()

'FABIAN IS NICE GENTLEMAN'

In [18]:
# Lower case string
A.lower()

'fabian is nice gentleman'

In [19]:
# Split a string byblank space (this is the default)
A.split()

['Fabian', 'Is', 'Nice', 'Gentleman']

In [20]:
# Split by a specific element (does not include the element that was split on)
A.split('a')

['F', 'bi', 'n Is Nice Gentlem', 'n']

In [21]:
s = "NEW#WORLD#IS#POSITIONING"
s.split('#')

['NEW', 'WORLD', 'IS', 'POSITIONING']

# Print Formatting

Print Formatting ".format()" method is used to add formatted objects to the printed string statements.

In [22]:
s = "Fabian vaz"
'Insert a name after this line: {}'.format(s)

'Insert a name after this line: Fabian vaz'

In [23]:
s = "Fabian vaz"
'Insert a name {} after this line: {}'.format(s, s)

'Insert a name Fabian vaz after this line: Fabian vaz'

In [24]:
FN = "Fabian"
LN = "Vaz"
'Insert a name {} after this : {}'.format(FN, LN)

'Insert a name Fabian after this : Vaz'

# Location and Counting

In [25]:
f = "sdbvibvjsbvkjnvjsnvnvo"
f

'sdbvibvjsbvkjnvjsnvnvo'

In [26]:
f.count("s")

3

In [27]:
f.find("s")

0

In [28]:
f.find("b") # It will find only first occurrnces

2

# Formatting

The center() method allows you to place your string 'centered' between a provided string with a certain length.

In [29]:
f.center(30, "Z")

'ZZZZsdbvibvjsbvkjnvjsnvnvoZZZZ'

In [30]:
f.center(50, "%")

'%%%%%%%%%%%%%%sdbvibvjsbvkjnvjsnvnvo%%%%%%%%%%%%%%'

expandtabs() will expand tab notations \t into spaces.

In [31]:
'Hello\tWorld'.expandtabs()

'Hello   World'

isalnum() will return "True" if all characters in S are alphanumeric.

In [32]:
A = "Fabian"
A.isalnum() # alpha numeric

True

In [33]:
A = "345698"
A.isalnum()

True

In [34]:
A = "123456978Fabian"
A.isalnum()

True

isalpha() will return "True" if all characters in A are alphabetic
.

In [35]:
A = "123456978Fabian"
A.isalpha()

False

In [36]:
A = "Fabian"
A.isalpha()

True

# List

In [37]:
# Assign a list to an a varaible
my_list = [1,2,3]
my_list[0] = 'fabian'
my_list

['fabian', 2, 3]

In [38]:
my_list = ['fabian', 3,4,5, '0']
my_list

['fabian', 3, 4, 5, '0']

In [39]:
len(my_list)

5

# Indexing and Slicing

In [40]:
my_list = ['one', 'two', 'three', 4, 5]
my_list

['one', 'two', 'three', 4, 5]

In [41]:
# Grab element at index 0
my_list[0]

'one'

In [42]:
my_list[4]

5

In [43]:
# Grap the index 1 and everything past it
my_list[1:]

['two', 'three', 4, 5]

In [44]:
# Grap the index untill 4
my_list[:4]

['one', 'two', 'three', 4]

# Concatenation with other elements

In [47]:
my_list = my_list + ['fabian', 5]
my_list

['one', 'two', 'three', 4, 5, 'fabian', 5, 'fabian', 5, [1, 4], 'fabian', 5]

In [48]:
my_list = my_list + ['fabian', 5, [1,4]]
my_list

['one',
 'two',
 'three',
 4,
 5,
 'fabian',
 5,
 'fabian',
 5,
 [1, 4],
 'fabian',
 5,
 'fabian',
 5,
 [1, 4]]

In [50]:
my_list.append

In [51]:
my_list.append('append me')

In [52]:
my_list

['one',
 'two',
 'three',
 4,
 5,
 'fabian',
 5,
 'fabian',
 5,
 [1, 4],
 'fabian',
 5,
 'fabian',
 5,
 [1, 4],
 'append me']

In [53]:
my_list = [3,6,9,12]

In [54]:
my_list

[3, 6, 9, 12]

In [55]:
my_list.append('append me')

In [56]:
my_list

[3, 6, 9, 12, 'append me']

In [59]:
my_list.insert(2,'fabian') #(2 is index, fabian is object, we are inserting fabian as object where 2 is index positioning)

In [62]:
my_list

[3, 6, 'fabian', 9, 12, 'append me', 'fabian']

In [63]:
l=[1,2,3,4,5, 'Fabian', 'Vaz']
l

[1, 2, 3, 4, 5, 'Fabian', 'Vaz']

In [65]:
l.pop() # pop off the indexed item

'Vaz'

In [66]:
l.pop(2)

4

In [67]:
l # now pop has been removed the vaz and 2 indexed position of the list

[2, 3, 5, 'Fabian']

In [69]:
new_list = [1,2,3,4,5,6]
new_list

[1, 2, 3, 4, 5, 6]

In [70]:
new_list[::-1] # one method of reversing the data.

[6, 5, 4, 3, 2, 1]

In [71]:
new_list

[1, 2, 3, 4, 5, 6]

In [72]:
new_list.reverse() # another method of reversing with the help of inbuild functions.

In [73]:
new_list

[6, 5, 4, 3, 2, 1]

In [75]:
# Sort Operation
# Use Sort function for sorting the list (In this case alphabetical order, but for numbers it will go ascending)

new_list.sort()
new_list

[1, 2, 3, 4, 5, 6]

In [81]:
newL = ['a', 'd','x','e','b']
newL.sort(reverse = True)
newL

['x', 'e', 'd', 'b', 'a']

In [82]:
newL = ['a', 'd','x','e','b']
newL.sort(reverse = False)
newL

['a', 'b', 'd', 'e', 'x']

# Nesting List

Nesting List can have the data stuructures with data strucutures.

In [83]:
# We can make three lists
L1 = [1,2,3]
L2 = [4,5,6]
L3 = [7,8,9]

# Make a list of list to form a matrix

matrix = [L1, L2, L3]
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [84]:
matrix[2][1]

8

In [85]:
matrix[2]

[7, 8, 9]

# List Comprehension

Which allows for quick construction of lists.

In [87]:
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [95]:
l=[]
for i in matrix:
    l.append(i[2])
l

[3, 6, 9]

In [144]:
l=[]
k=[]
for i in matrix:
    l.append(i[2])
    k.append(i[1])
l,k

([3, 6, 9], [2, 5, 8])

In [96]:
l=[]                             #*********** this is first method*************
for i in matrix:
    l.append(i[2]**3)
l

[27, 216, 729]

In [97]:
# Built a list comprehension by deconstructing  a for loop within a []

data = [row[2] for row in matrix]  #*********** this is second method*************
data

[3, 6, 9]

In [98]:
data = [row[2]** 3 for row in matrix]
data

[27, 216, 729]

In [100]:
[(i[0],i[1],i[2]) for i in matrix]

[(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [101]:
[(i[0]) for i in matrix]

[1, 4, 7]

In [102]:
[(i[1],i[2]) for i in matrix]

[(2, 3), (5, 6), (8, 9)]

In [103]:
[(i[2]) for i in matrix]

[3, 6, 9]

# Count, Extend and Append

In [115]:
A=(1,2,3,4,4,3,3,3,3,4)
A.count(3)                         # No 3 how times occured?

5

In [122]:
A.count(4)

3

Append : Appends object at end

In [123]:
A=[1,2,3,4,4,3,3,3,3,4]
A.append(5)

In [124]:
A

[1, 2, 3, 4, 4, 3, 3, 3, 3, 4, 5]

In [125]:
A=[1,2,3,4,4,3,3,3,3,4]
A.append('Fabian')
A

[1, 2, 3, 4, 4, 3, 3, 3, 3, 4, 'Fabian']

Extend : lists by appending the elements from the iterable.

In [132]:
A=[1,2,3,4,4,3,3,3,3,4]
A.extend('Fabian')
A

[1, 2, 3, 4, 4, 3, 3, 3, 3, 4, 'F', 'a', 'b', 'i', 'a', 'n']

In [133]:
A=[1,2,3,4,4,3,3,3,3,4]
A.extend([2,4,1,8,4,'Fabian'])
A

[1, 2, 3, 4, 4, 3, 3, 3, 3, 4, 2, 4, 1, 8, 4, 'Fabian']

In [134]:
A.index(8)

13

Remove

In [135]:
A

[1, 2, 3, 4, 4, 3, 3, 3, 3, 4, 2, 4, 1, 8, 4, 'Fabian']

In [136]:
A.remove('Fabian')

In [137]:
A

[1, 2, 3, 4, 4, 3, 3, 3, 3, 4, 2, 4, 1, 8, 4]

In [143]:
A.remove(2)
A

[1, 3, 4, 4, 3, 3, 3, 3, 4, 4, 1, 4]

In [ ]:
input()